.p-dashboard {
    margin: 10% auto;
    width: 50%; 

    &__users-section {
        display: flex;
        justify-content: center;
        gap: 2rem;

        &__icon {
            height: 3rem;
            width: 3rem;
            border: 1px solid #333;
            border-radius: 99999px;
        }
    }

    &__button-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        border-top: 1px solid #333;
        margin-top: 3rem;
        padding-top: 3rem;

        &__button {
            padding: 1rem;
            background: #FFF;
            border: 1px solid #333;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__icon {
                height: 3rem;
                width: 3rem;
            }
        }
    }

}
